<!-- <h1>Cocktails#index</h1>
<p>Find me in app/views/cocktails/index.html.erb</p> -->

<h1>All our cocktails</h1>

<% @cocktails.each do |cocktail| %>
  <ul>
    <%= link_to cocktail_path(cocktail) do %>
      <li><%= cocktail.name %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'New Cocktail', new_cocktail_path %>

